.body-background {
    background-color: #cccccc !important;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
}

html,body,h1,h2,h3,h4,h5,h6 {
    font-family: sans-serif, Arial, Helvetica;
}


/* Navigationsleiste */ 
#navbar-right {
    float: right;
}

#logo-navbar {
    height: 40px;
    margin-top: 2px;
}

.nav-line {
    background-color: transparent;
}


/* Sidebar */
#sidebar-x {
    text-decoration-line: none !important;
}

.w3-sidebar {
    z-index: 3;
    width: 250px;
    top: 43px;
    bottom: 0;
    height: inherit;
}


/* Tabellen und Übersichten */
.form-center {
    text-align: center !important;
    max-width: 1500px;
    width: auto;     
}

.form-center-left {
    text-align: left !important;
    max-width: 1500px;
	margin-left: 10px;
    width: auto;     
}

.form-center-prices {
    text-align: center !important;
    max-width: 100%;
    width: auto;     
}

#new-user {
    color: #3168B5;
    text-decoration: none;
    background-color: transparent;
}

#title-log {
    position: relative;
    height: auto;
    text-align: center !important;
    
}

#title-reg {
    position: relative;
    height: auto;
    text-align: center !important;
}

.form-log {
    width: 100%;
    margin: auto;
    position: relative;
    height: auto;
    padding: 8px;
    font-size: 15px;
}

.form-reg {
    width: 100%;
    margin: auto;
    position: relative;
    height: auto;
    padding: 8px;
    font-size: 15px;
}

.form-reg-index {
    width: 100%;
    margin: auto;
    position: relative;
    min-height: 80px;
    padding: 0px;
    font-size: 15px;
}

.form-design {
    position: relative;
    box-sizing: border-box;
    height: 22px;
    max-width: 250px;
    padding: 0px;
    font-size: 15px;
	text-align: right;
}

.form-design-table {
    position: relative;
    box-sizing: border-box;
    height: 22px;
    max-width: 150px;
    padding: 0px;
    font-size: 15px;
	text-align: right;
} 

.form-design-p {
    position: relative;
    box-sizing: content-box;
    height: auto;
    max-width: 184px;
    padding: 8px;
    font-size: 15px;
}

.form-image {
    max-width:100%;
    height:auto
}

.form-design:focus {
    z-index: 2;
}

.form-label {
    position: absolute;
    width: 1px;
    height: 10px;
    padding: 0;
   
    white-space: nowrap;
    border: 0;
    float: left;
    text-align: center;
    margin-right: 5px;
}

#simulationSlider {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 23px;
}

#progressBarDuration {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
}

#simulationButton {
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 23px;
}

#consumerDistributionTable p {
    margin: 0;
    padding: 0;
	height: 34px;
}

#indexStatusTable p {
    margin-top: 5px;
    padding: 0;
}

#overviewTable tr {
	padding: 0;
}

.overview-td-right {
	text-align: right !important;
}

.overview-description {
	width: 40%;
}

.overview-data {
	width: 40%;
	text-align: right !important;
}

.overview-unit {
	width: 10%;
}

.overview-space {
	width: 10px;
}

.company-header {
	text-align: left !important;
	padding-left: 8px;
}

.company-close {
	font-size:18px!important;
	padding: 2px 10px 2px 10px !important;
	margin-bottom: 8px !important;
	margin-top: 5px !important;
}

.switchButton {
	font-size:18px!important;
	padding: 2px 10px 2px 10px !important;
	margin-bottom: 8px !important;
	margin-top: 5px !important;
}

#filterHopFarmerTableRow td {
    vertical-align: middle;
}

#filterCerealFarmerTableRow td {
    vertical-align: middle;
}

#filterWaterplantTableRow td {
    vertical-align: middle;
}

#filterMalterTableRow td {
    vertical-align: middle;
}

#filterBreweryTableRow td {
    vertical-align: middle;
}

#capacityHopFarmerTableRow td {
	padding: 0;
}

#capacityCerealFarmerTableRow td {
	padding: 0;
}

#capacityWaterplantTableRow td {
	padding: 0;
}

#capacityMalterTableRow td {
	padding: 0;
}

#capacityBreweryTableRow td {
	padding: 0;
}

.filterTable {
	font-size:18px!important;
	padding: 2px 10px 2px 10px !important;
	margin-bottom: 8px !important;
	margin-top: 5px !important;
}

.negativeBalance {
	color: red !important;
}

/* Caret */
.caretButton {
	width: 0;
	height: 0;
	display: inline-block;
	border: 40px solid transparent;
	}

.caretButton.down{
	border-top-color: black;
}

.caretButton.right{
	border-left-color: black;
}

.caretButton.up{
	border-bottom-color: black;
}

.caretButton.left{
	border-right-color: black;
}


/* Input und Button Designs */
input[type=text], input[type=password], input[type=date], input[type=email], textarea[type=text], select[type=text] {
    width: 100%;
    padding: 10px 15px;
    margin: 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button-clear {
    width: 100%;
    margin: auto;
    content: "";
    clear: both;
    display: table !important;    
}

.button-clearPlus-tables {
    width: 50px;
	margin: auto;
	content: "";
    clear: both;
    display: table !important;  
}

.button-clearOne-tables {
    width: 125px;
	margin-top: 8px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto; 
	content: "";
    clear: both;
    display: table !important;  
}

.button-clearDouble-tables {
    width: 250px;
	margin-top: 8px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto; 
	content: "";
    clear: both;
    display: table !important;  
}

.buttonRound {
	font-size:18px!important;
	padding: 2px 10px 2px 10px !important;
}

.buttonRoundIndex {
	font-size:18px !important;
	height: 34px !important;
	padding: 0px 10px 0px 10px !important;
}


/* Status steuern per Switch Checkbox */
.switch-slide {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-slide input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f44336;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}


/* Bier Nachfrageverteilung */
.beer-red {
	color:#fff!important;
	background-color: #91220f!important;
}

.beer-yellow {
	color:#fff!important;
	background-color: #ffa54f!important;
}

.beer-green {
	color:#fff!important;
	background-color: #4fa135!important;
}


/* Collapsible */
.collapsibleButton {
	background-color: #3168B5;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 3%;
	border: none;
	text-align: center;
	outline: none;
	font-size:18px!important;
	padding: 2px 10px 2px 10px !important;
	margin-bottom: 8px !important;
	margin-top: 5px !important;
}

.activeButton, .collapsibleButton:hover {
	background-color: #3168B5;
}

.collapsibleButton:after {
	content: '\25bc';
	color: white;
	font-weight: bold;
	float: right;
	margin-left: 0px;
}

.activeButton:after {
	content: "\25b2";
}

.contentButton {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
}


/* Slider Simulation Status */
.active, .inactive {
	font-size:40px;cursor:pointer;
}
.active, .inactive {
	font-size:40px;cursor:pointer;
}
i.active { 
	color: #5cb85c
}
i.inactive {
	color: #d9534f
}

input:checked + .switch-slider {
    background-color: #4CAF50;
}

input:focus + .switch-slider {
    box-shadow: 0 0 1px #4CAF50;
}

input:checked + .switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.switch-slider.design-round {
    border-radius: 34px;
}

.switch-slider.design-round:before {
    border-radius: 50%;
}

/* Menü Icon */
#nav-bar {
    height: 40px;
    margin-top: 2px;
} 

.bar-line {
    width: 35px;
    height: 3px;
    background-color: white;
    margin-top: 7px;
    margin-right: 2px;
}


/* Dropdown Menüs */
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Designs für Eingaben und Forms */
.card-background {
    background-color:rgba(240,240,240,0.7) !important;
    margin-bottom: 5px !important;
}

.form-center-eingabe {
    text-align: center !important;
    max-width: 1000px;
    width: auto;
}

.form-eingabe {
    width: 100%;
    margin: auto;
    position: relative;
    height: auto;
    padding: 8px;
    font-size: 15px;
}

.form-center-view {
    text-align: center !important;
    max-width: 1000px;
    width: auto;
}

.form-view {
    width: 100%;
    margin: auto;
    position: relative;
    height: auto;
    padding: 8px;
    font-size: 15px;
}

.form-eingabe {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 8px;
    font-size: 15px;
}

.form-textarea {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 8px;
    font-size: 15px;
}

.form-select {
    position: relative;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 8px;
    font-size: 15px;
}

#submitStatusA {
    width: 125px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 2px !important;
    padding-right: 2px !important; 
}

#submitStatusP {
    width: 125px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;   
}

input.ng-dirty.ng-invalid { 
	color: red; 
}


/* Tooltips bei gesperrten Buttons */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 150px;
	font-size: 15px !important;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
