<!-- Endkunden -->

<!-- Endkunden Controller -->
<div ng-controller="consumerController"> 
 
	<div class="form-center-view form-view w3-round-large card-background">
		<h2 class="w3-center w3-blue">Nachfrage der Endkunden</h2>

		<!-- Übersicht und Eingabeformular - Aktuelle Nachfragemenge in Liter pro Tag -->
		<form ng-submit="postConsumerDemandForm()" name="consumerDemandForm">
			<table class="w3-table-all" style="margin-top: 8px" id="consumerTable" ng-init="initDemand(); consumerDemandEdit=true">    
				<tbody>
					<tr>
						<th style="width: 40%">Qualit&auml;t</th>
						<th style="width: 30%; text-align: right">Aktuelle Nachfrage pro Tag</th>
						<th colspan="2" style="width: 30%"></th>
					</tr>
					<tr>				
						<!-- Nachfragemenge Qualitätsstufe Niedrig (1) -->
						<td style="width: 40%">Niedrig</td>
						<!-- Anzeige Nachfragemenge -->
						<td ng-hide="demandEditStatus!=false" style="width: 30%; text-align: right" id="lowDemandShow">
							{{ demandLow | number:2 }}
						</td>
						<!-- Eingabe Nachfragemenge -->   
						<td ng-hide="demandEditStatus==false" style="width: 30%; text-align: right" id="lowDemand">
							<input type="number" step="1000" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" id="demandLowEditField" class="form-design-table" placeholder="1000,00" name="demandLowEditField" maxlength="20" ng-model="demandLow" ng-required="true" ng-disabled="consumerDemandEdit">
						</td>
						<td style="width: 5%">Liter</td>
						<td style="width: 25%"></td>
					</tr>
					<tr>
						<!-- Nachfragemenge Qualitätsstufe Mittel (2) -->
						<td style="width: 40%">Mittel</td>
						<!-- Anzeige Nachfragemenge -->
						<td ng-hide="demandEditStatus!=false" style="width: 30%; text-align: right" id="mediumDemandShow">
							{{ demandMedium | number:2 }}
						</td>
						<!-- Eingabe Nachfragemenge -->   
						<td ng-hide="demandEditStatus==false" style="width: 30%; text-align: right" id="mediumDemand">
							<input type="number" step="1000" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" id="demandMediumEditField" class="form-design-table" placeholder="1000,00" name="demandMediumEditField" maxlength="20" ng-model="demandMedium" ng-required="true" ng-disabled="consumerDemandEdit">
						</td>
						<td style="width: 5%">Liter</td>
						<td style="width: 25%"></td>
					</tr>
					<tr>
						<!-- Nachfragemenge Qualitätsstufe Hoch (3) -->
						<td style="width: 40%">Hoch</td>
						<!-- Anzeige Nachfragemenge -->
						<td ng-hide="demandEditStatus!=false" style="width: 30%; text-align: right" id="highDemandShow">
							{{ demandHigh | number:2 }}
						</td>
						<!-- Eingabe Nachfragemenge -->   
						<td ng-hide="demandEditStatus==false" style="width: 30%; text-align: right" id="highDemand">
							<input type="number" step="1000" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" id="demandHighEditField" class="form-design-table" placeholder="1000,00" name="demandHighEditField" maxlength="20" ng-model="demandHigh" ng-required="true" ng-disabled="consumerDemandEdit">
						</td>
						<td style="width: 5%">Liter</td>
						<td style="width: 25%"></td>
					</tr>  
					<tr>
						<th style="width: 40%">Gesamtwirtschaftliche Nachfrage pro Tag</th>
						<th style="width: 30%; text-align: right" id="completeDemand">
							{{ demandLow + demandMedium + demandHigh | number:2 }}
						</th> 
						<th style="width: 5%">Liter</th>
						<td style="width: 25%"></td>
					</tr>                                                        
				</tbody> 
			</table>

			<!-- Nachfragemenge bearbeiten und speichern -->
			<div class="button-clearOne-tables tooltip">
				<button ng-if="demandEditStatus==false" ng-click="changeDemandConsumer(); enableConsumerDemandEdit()" ng-disabled="simStatus!=false" class="w3-button w3-round-large w3-dark-grey buttonRound" id="demandEdit" type="button" style="width: 125px;">Bearbeiten</button>
				<!-- Tooltip Button disabled - Werte können nur bearbeitet werden, wenn die Simulation pausiert -->
				<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>
				<button ng-if="demandEditStatus!=false" ng-click="changeDemandConsumer(); disableConsumerDemandEdit(); postConsumerDemand()" ng-disabled="consumerDemandForm.$invalid" class="w3-button w3-round-large w3-dark-grey buttonRound" id="demandSubmit" type="button" style="width: 125px;">Speichern</button>
				<!-- Tooltip Button disabled - Alle Felder mit gültigen Werten ausfüllen -->
				<span ng-if="consumerDemandForm.$invalid" class="tooltiptext">Bitte f&uuml;llen Sie alle Felder aus</span>
			</div> 
		</form>
		
	</div>
	
	<!-- Nachfrageverteilung -->
	<!-- Alle 3 Nachfragemengen = 0, dann ausblenden -->
	<div ng-hide="checkDemandZero()">
		<div class="form-center-view form-view w3-round-large card-background">
			<h2 class="w3-center w3-blue">Nachfrageverteilung</h2>
			
			<table class="w3-table-all" style="margin-top: 8px" id="consumerDistributionTable" >
				<tbody> 
					<tr>
						<!-- Berechnung der Nachfrageverteilung je Qualitätsstufe -->
						<td style="width: 10%; text-align: right">
							<!-- Nachfrageverteilung in Prozent nicht anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 1" < 0 -->
							<p ng-if="!checkDemandInput(demandLow)"> </p>
							<!-- Nachfrageverteilung in Prozent anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 1" >= 0 -->
							<p ng-if="checkDemandInput(demandLow)">{{ demandLow / (demandLow + demandMedium + demandHigh) * 100 | number:2 }} %</p>
							<!-- Nachfrageverteilung in Prozent nicht anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 2" < 0 -->
							<p ng-if="!checkDemandInput(demandMedium)"> </p>
							<!-- Nachfrageverteilung in Prozent anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 2" >= 0 -->
							<p ng-if="checkDemandInput(demandMedium)">{{ demandMedium / (demandLow + demandMedium + demandHigh) * 100 | number:2 }} %</p>
							<!-- Nachfrageverteilung in Prozent nicht anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 3" < 0 -->
							<p ng-if="!checkDemandInput(demandHigh)"> </p>
							<!-- Nachfrageverteilung in Prozent anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 2" >= 0 -->
							<p ng-if="checkDemandInput(demandHigh)">{{ demandHigh / (demandLow + demandMedium + demandHigh) * 100 | number:2 }} %</p>
						</td>
						<td style="width: 30%">
							<!-- Nachfrageverteilung in Prozent nicht anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 1" < 0 -->
							<p ng-if="!checkDemandInput(demandLow)"> </p>
							<!-- Nachfrageverteilung in Prozent anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 1" >= 0 -->
							<p ng-if="checkDemandInput(demandLow)">Niedrige Qualit&auml;t</p>
							<!-- Nachfrageverteilung in Prozent nicht anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 2" < 0 -->
							<p ng-if="!checkDemandInput(demandMedium)"> </p>
							<!-- Nachfrageverteilung in Prozent anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 2" >= 0 -->
							<p ng-if="checkDemandInput(demandMedium)">Mittlere Qualit&auml;t</p>
							<!-- Nachfrageverteilung in Prozent nicht anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 3" < 0 -->
							<p ng-if="!checkDemandInput(demandHigh)"> </p>
							<!-- Nachfrageverteilung in Prozent anzeigen, wenn Eingabe Nachfrage "Qualitätsstufe 3" >= 0 -->
							<p ng-if="checkDemandInput(demandHigh)">Hohe Qualit&auml;t</p>
						</td>
						<td style="width: 60%">
							<!-- Nachfrageverteilung nicht anzeigen, wenn Nachfrage "Qualitätsstufe 1" < 1 -->
							<div ng-if="!checkDemand(demandLow)" id="progressLowHide" class="w3-container" style="height:34px; width:{{ demandLow / (demandLow + demandMedium + demandHigh) * 100 }}%">
							</div>	
							<!-- Nachfrageverteilung anzeigen, wenn Nachfrage "Qualitätsstufe 1" >= 1 -->
							<div ng-if="checkDemand(demandLow)" id="progressLowShow" class="w3-container beer-red" style="height:34px; width:{{ demandLow / (demandLow + demandMedium + demandHigh) * 100 }}%">
							</div>
							<!-- Nachfrageverteilung nicht anzeigen, wenn Nachfrage "Qualitätsstufe 2" < 1 -->
							<div ng-if="!checkDemand(demandMedium)" id="progressMediumHide" class="w3-container" style="height:34px; width:{{ demandMedium / (demandLow + demandMedium + demandHigh) * 100 }}%">
							</div>
							<!-- Nachfrageverteilung anzeigen, wenn Nachfrage "Qualitätsstufe 2" >= 1 -->
							<div ng-if="checkDemand(demandMedium)" id="progressMediumShow" class="w3-container beer-yellow" style="height:34px; width:{{ demandMedium / (demandLow + demandMedium + demandHigh) * 100 }}%">
							</div>
							<!-- Nachfrageverteilung nicht anzeigen, wenn Nachfrage "Qualitätsstufe 3" < 1 -->
							<div ng-if="!checkDemand(demandHigh)" id="progressHighHide" class="w3-container" style="height:34px; width:{{ demandHigh / (demandLow + demandMedium + demandHigh) * 100 }}%">
							</div>	
							<!-- Nachfrageverteilung anzeigen, wenn Nachfrage "Qualitätsstufe 3" >= 1 -->
							<div ng-if="checkDemand(demandHigh)" id="progressHighShow" class="w3-container beer-green" style="height:34px; width:{{ demandHigh / (demandLow + demandMedium + demandHigh) * 100 }}%">
							</div>
						</td>	
					</tr>           
				</tbody>
			</table> 
		</div>
	</div>
			
	<!-- Entwicklung des Bierkonsums -->
	<!-- Laufzeit der Simulation = 0, dann ausblenden -->
	<div ng-hide="checkSimDuration()">
		<div class="form-center-view form-view w3-round-large card-background">
			<!-- Entwicklung des Bierkonsums pro Qualitätstufe -->
			<!-- Kummulierte konsumierte Menge der Entkunden pro Qualitätsstufe und Tag -->
			<h2 class="w3-center w3-blue">Entwicklung des Bierkonsums</h2>
			<table class="w3-table-all" style="margin-top: 8px" id="consumerDistributionTable" >
				<tbody> 
					<tr>
						<td>
							<!-- Darstellung als Chart mit Angular-nvD3 charting library -->
							<nvd3 options="options" data="data" config="{deepWatchDataDepth: 0}"></nvd3>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
		
	<!-- Entwicklung des Bierpreises -->
	<!-- Laufzeit der Simulation = 0, dann ausblenden -->
	<div ng-hide="checkSimDuration()">
		<div class="form-center-view form-view w3-round-large card-background">
			<!-- Entwicklung des Bierpreises pro Qualitätstufe -->
			<!-- Durchschnittliche Kaufpreise pro Liter Bier für Entkunden pro Qualitätsstufe und Tag -->
			<h2 class="w3-center w3-blue">Entwicklung der Bierpreise</h2>
			<table class="w3-table-all" style="margin-top: 8px" id="consumerDistributionTable" >
				<tbody> 
					<tr>
						<td>
							<!-- Darstellung als Chart mit Angular-nvD3 charting library -->
							<nvd3 options="options2" data="data2" config="{deepWatchDataDepth: 0}"></nvd3>
						</td>
					</tr>
				</tbody>
			</table>
		</div>	
	</div>
			
</div> 