<!-- Preiseingabe der Grundstoffe --!

<!-- Grundstoffe Controller -->
<div ng-controller="rawMaterials"> 
 
	<div class="form-center-view form-view w3-round-large card-background">
		<h2 class="w3-center w3-blue">Preiseingabe der Grundstoffe</h2>

		<!-- Eingabe Einkaufspreise für Hopfen, Gerste und Wasser -->
		<form ng-submit="postUnitPricesForm()" name="unitPricesForm">
			<table class="w3-table-all" style="margin-top: 8px" id="unitPricesTable" ng-init="initUnitPrices(); unitPricesEdit=true"> 
				<tbody>
					<tr>
						<td style="width: 25%"></td>
						<td style="width: 20%; text-align: right">
							Niedrige Qualit&auml;t
						</td>
						<td class="tooltip" style="width: 20%; text-align: right">
							Mittlere Qualit&auml;t
							<span class="tooltiptext" style="width: 320px">Automatische Preisberechnungen entsprechen 110% der niedrigen Qualitätspreise</span> 
						</td>
						<td class="tooltip" style="width: 20%; text-align: right">
							Hohe Qualit&auml;t
							<span class="tooltiptext" style="width: 320px">Automatische Preisberechnungen entsprechen 120% der niedrigen Qualitätspreise</span>
						</td>
						<td style="width: 15%"></td>
					</tr>
					<tr>
						<td>Einkaufspreise Hopfenanbau</td>
						<!-- Anzeige Einkaufspreis Hopfenanbau - Niedrige Qualität -->
						<td ng-hide="unitPricesEditStatus!=false" style="text-align: right">
							{{ unitPriceHop | number:2 }}
						</td>
						<!-- Eingabe Einkaufspreis Hopfenanbau - Niedrige Qualität -->
						<td ng-hide="unitPricesEditStatus==false" style="text-align: right">
							<input type="number" step="0.01" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" id="unitPriceHopEditField" class="form-design-table" placeholder="200,00" name="unitPriceHopEditField" maxlength="20" ng-model="unitPriceHop" ng-required="true">
						</td>
						<!-- Anzeige Einkaufspreis Hopfenanbau - Mittlere Qualität - wird automatisch berechnet -->	
						<td style="text-align: right">
							{{ unitPriceHop * 1.1 | number:2 }}
						</td>
						<!-- Anzeige Einkaufspreis Hopfenanbau - Hohe Qualität - wird automatisch berechnet -->	
						<td style="text-align: right">
							{{ unitPriceHop * 1.2 | number:2 }}
						</td>
						<td>Euro / Tonne</td>
					</tr>
					<tr>
						<td>Einkaufspreise Gerstenanbau</td>
						<!-- Anzeige Einkaufspreis Gerstenanbau-->
						<td ng-hide="unitPricesEditStatus!=false" style="text-align: right">
							{{ unitPriceCereal | number:2 }}
						</td>
						<!-- Eingabe Einkaufspreis Gerstenanbau-->
						<td ng-hide="unitPricesEditStatus==false" style="text-align: right">
							<input type="number" step="0.01" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" id="unitPriceCerealEditField" class="form-design-table" placeholder="100,00" name="unitPriceCerealEditField" maxlength="20" ng-model="unitPriceCereal" ng-required="true">
						</td>
						<!-- Anzeige Einkaufspreis Gerstenanbau - Mittlere Qualität - wird automatisch berechnet - Aufschlag 10% -->
						<td style="text-align: right">	
							{{ unitPriceCereal * 1.1 | number:2 }}
						</td>
						<!-- Anzeige Einkaufspreis Gerstenanbau - Hohe Qualität - wird automatisch berechnet - Aufschlag 20% -->	
						<td style="text-align: right">
							{{ unitPriceCereal * 1.2 | number:2 }}
						</td>
						<td>Euro / Tonne</td>
					</tr>
					<tr>
						<td>Einkaufspreise Wasserwerke</td>
						<!-- Anzeige Einkaufspreis Wasserwerke -->
						<td ng-hide="unitPricesEditStatus!=false" style="text-align: right">
							{{ unitPriceWater | number:2 }}
						</td>
						<!-- Eingabe Einkaufspreis Wasserwerke -->
						<td ng-hide="unitPricesEditStatus==false" style="text-align: right">
							<input type="number" step="0.01" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" id="unitPriceWaterEditField" class="form-design-table" placeholder="1,00" name="unitPriceWaterEditField" maxlength="20" ng-model="unitPriceWater" ng-required="true">
						</td>
						<!-- Anzeige Einkaufspreis Wasserwerke - Mittlere Qualität - wird automatisch berechnet - Aufschlag 10% -->
						<td style="text-align: right">
							{{ unitPriceWater * 1.1 | number:2 }}
						</td>
						<!-- Anzeige Einkaufspreis Wasserwerke - Hohe Qualität - wird automatisch berechnet - Aufschlag 20% -->	
						<td style="text-align: right">
							{{ unitPriceWater * 1.2 | number:2 }}
						</td>
						<td>Euro / 1000 Liter</td>
					</tr>		                           
				</tbody> 
			</table>

			<!-- Grundpreise bearbeiten und speichern -->
			<div class="button-clearOne-tables tooltip">
				<button ng-if="unitPricesEditStatus==false" ng-click="changeUnitPrices(); enableUnitPricesEdit()" ng-disabled="simStatus!=false" class="w3-button w3-round-large w3-dark-grey buttonRound" id="unitPricesEdit" type="button" style="width: 125px;">Bearbeiten</button>
				<!-- Tooltip Button disabled - Werte können nur bearbeitet werden, wenn die Simulation pausiert -->
				<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>
				<button ng-if="unitPricesEditStatus!=false" ng-click="changeUnitPrices(); disableUnitPricesEdit(); postUnitPrices(); activateSliderAfterUnitPrices()" ng-disabled="unitPricesForm.$invalid" class="w3-button w3-round-large w3-dark-grey buttonRound" id="unitPricesSubmit" type="button" style="width: 125px;">Speichern</button>
				<!-- Tooltip Button disabled - Alle Felder mit gültigen Werten ausfüllen -->
				<span ng-if="unitPricesForm.$invalid" class="tooltiptext">Bitte f&uuml;llen Sie alle Felder aus</span>
			</div> 
		</form>
		
	</div>
			
</div> 