<!-- Wasserwerke -->
<div class="form-center-view form-view w3-round-large card-background">
	<!-- Wasserwerke Controller -->
	<div ng-controller="waterplantController"> 
		<h2 class="w3-center w3-blue">Wasserwerke</h2>

		<!-- Produktionskapaziät pro Tag der Unternehmen je Qualitätsstufe - Vergleich Produktionskapazität zu Nachfragemenge -->
		<!-- Roter Balken bei Mindermenge | Blauer Balken bei optimaler Produktionskapazität oder Überproduktion --> 
		<table class="w3-table">
			<tbody>
				<!-- Produktionskapazität Soll-/ Ist-Vergleich pro Tag -->
				<tr style="font-size: 18px !important">
					<td colspan="2" style="width: 35%; text-align: right">
						Defizit
					</td>
					<td style="width: 30%; text-align: center">
						<div>
							Produktionskapazit&auml;t pro Tag
						</div>
					</td>
					<td colspan ="2" style="width: 35%; text-align: left">
						&Uuml;berschuss
					</td>
				</tr>
				<!-- Produktionskapazität Nierige Qualität -->
				<tr id="capacityWaterplantTableRow">
					<td style="width: 30%">
						<div ng-if="showCapacityDeficitLow" class="beer-red" style="text-align: right">{{ capacityComparisonWaterplantLow | number: 2 }} Liter
						</div>
					</td>
					<td style="width: 5%">
						<div ng-if="showCapacityDeficitLow" class="beer-red" style="text-align: right">&nbsp;
						</div>
					</td>
					<td ng-class="colorCapacityLow" style="width: 30%; text-align: center">
						Niedrige Qualit&auml;t
					</td>
					<td style="width: 10%">
						<div ng-if="showCapacityOverflowLow" class="w3-blue" style="text-align: right">{{ capacityComparisonWaterplantLow | number: 2 }}
						</div>
					</td>
					<td style="width: 25%">
						<div ng-if="showCapacityOverflowLow" class="w3-blue" style="text-align: left">&nbsp;Liter
						</div>
					</td>	
				</tr>
				<!-- Produktionskapazität Mittlere Qualität -->
				<tr id="capacityWaterplantTableRow">
					<td style="width: 30%">
						<div ng-if="showCapacityDeficitMedium" class="beer-red" style="text-align: right">{{ capacityComparisonWaterplantMedium | number: 2 }} Liter
						</div>
					</td>
					<td style="width: 5%">
						<div ng-if="showCapacityDeficitMedium" class="beer-red" style="text-align: right">&nbsp;
						</div>
					</td>
					<td ng-class="colorCapacityMedium" style="width: 30%; text-align: center">
						Mittlere Qualit&auml;t
					</td>
					<td style="width: 10%">
						<div ng-if="showCapacityOverflowMedium" class="w3-blue" style="text-align: right">{{ capacityComparisonWaterplantMedium | number: 2 }}
						</div>
					</td>
					<td style="width: 25%">
						<div ng-if="showCapacityOverflowMedium" class="w3-blue" style="text-align: left">&nbsp;Liter
						</div>
					</td>		
				</tr>
				<!-- Produktionskapazität Hohe Qualität -->
				<tr id="capacityWaterplantTableRow">
					<td style="width: 30%">
						<div ng-if="showCapacityDeficitHigh" class="beer-red" style="text-align: right">{{ capacityComparisonWaterplantHigh | number: 2 }} Liter
						</div>
					</td>
					<td style="width: 5%">
						<div ng-if="showCapacityDeficitHigh" class="beer-red" style="text-align: right">&nbsp;
						</div>
					</td>
					<td ng-class="colorCapacityHigh" style="width: 30%; text-align: center">
						Hohe Qualit&auml;t
					</td>
					<td style="width: 10%">
						<div ng-if="showCapacityOverflowHigh" class="w3-blue" style="text-align: right">{{ capacityComparisonWaterplantHigh | number: 2 }}
						</div>
					</td>
					<td style="width: 25%">
						<div ng-if="showCapacityOverflowHigh" class="w3-blue" style="text-align: left">&nbsp;Liter
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- Filter nach Unternehmensgröße / Qualität -->
		<table class="w3-table" style="vertical-align: top">
			<tbody>
				<tr id="filterWaterplantTableRow" class="filterTable">
					<td style="width: 40%; padding-left: 28px">Filter nach Unternehmensgr&ouml;&szlig;e</td>
					<td style="width: 12%">
						<!-- Unternehmensgröße -->
						<select name="filterWaterplantSize" ng-model="search.companySize" style="width: 100%; text-align-last: right">
							<option value="" style="direction: rtl">Alle</option>
							<option value="small" style="direction: rtl">Klein</option>
							<option value="medium" style="direction: rtl">Mittel</option>
							<option value="big" style="direction: rtl">Gro&szlig;</option>
						</select>
					</td>					
					<td style="width: 26%">Filter nach Qualit&auml;t</td>
					<td style="width: 12%">
						<!-- Qualität -->	
						<select name="filterWaterplantQuality" ng-model="search.qualityType" style="width: 100%; text-align-last: right">
							<option value="" style="direction: rtl">Alle</option>
							<option value="low" style="direction: rtl">Niedrig</option>
							<option value="medium" style="direction: rtl">Mittel</option>
							<option value="high" style="direction: rtl">Hoch</option>
						</select>	
					</td>
					<!-- Übersicht aktualisieren -->
					<td style="width: 10%; text-align: right; padding-right: 36px">
						<button class="w3-button w3-round-large w3-blue filterTable" ng-click="getWaterplants()">Aktualisieren</button>
					</td>
				</tr>
			</tbody>
		</table>

		<table class="w3-table-all" id="companyOverviewWaterplantTable" ng-init="initCreateFormWaterplant();">
			<tbody>
				<tr>
					<td>
						<div style="padding-bottom: 8px">
						
							<!-- Button für neuen Datensatz anlegen - Es öffnet sich ein Eingabeformular -->
							<div ng-if="showAddWaterplantButton!=false" class="w3-center button-clearDouble-tables">
								<div class="tooltip">
									<!-- Button für neuen Datensatz anlegen - Es öffnet sich ein Eingabeformular -->
									<button ng-disabled="simStatus!=false" ng-click="openWaterplantForm()" class="w3-button w3-round-large w3-blue buttonRound" style="width: 125px;" type="button">Anlegen</button>
									<!-- Tooltip Button disabled - Neue Unternehmen können nur angelegt werden, wenn die Simulation pausiert -->
									<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>
								</div>	
								<div class="tooltip">
									<!-- Button für neuen Datensatz automatisch generieren lassen -->
									<button ng-disabled="simStatus!=false" ng-click="postRandomWaterplant()" class="w3-button w3-round-large w3-dark-grey buttonRound" style="width: 125px;" type="button">Generieren</button>
									<!-- Tooltip Button disabled - Neue Unternehmen können nur angelegt werden, wenn die Simulation pausiert -->
									<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>	
								</div>
							</div>					

							<!-- Eingabeformular für die Anlage von neuen Unternehmen -->
							<form ng-if="createWaterplantForm!=false" class="form-center form-reg w3-round-large card-background" ng-submit="createWaterplantForm()" name="createWaterplantForm">
								<div class="w3-center w3-blue">
									<h2>Neues Wasserwerk anlegen</h2>	
								</div>	
								<table class="w3-table-all" style="margin-top: 8px" id="createWaterplantTable">
									<tbody>
										<!-- Unternehmensgröße -->
										<tr>
											<td class="overview-description">Unternehmensgr&ouml;&szlig;e</td>
											<td class="overview-data">
												<select name="newWaterplantCompanySize" ng-model="newWaterplant.companySize" class="form-design-table" style="width: 100%; text-align-last: right">
													<option value="small" style="direction: rtl">Klein</option>
													<option value="medium" style="direction: rtl">Mittel</option>
													<option value="big" style="direction: rtl">Gro&szlig;</option>
												</select>					
											</td>
											<td class="overview-unit"></td>
											<td class="overview-space"></td>
										</tr>
										<!-- Qualität -->
										<tr>
											<td class="overview-description">Qualit&auml;t</td>
											<td class="overview-data">		
												<select name="newWaterplantQualityType" ng-model="newWaterplant.qualityType" class="form-design-table" style="width: 100%; text-align-last: right">
													<option value="low" style="direction: rtl">Niedrig</option>
													<option value="medium" style="direction: rtl">Mittel</option>
													<option value="high" style="direction: rtl">Hoch</option>
												</select>						
											</td>
											<td class="overview-unit"></td>
											<td class="overview-space"></td>
										</tr>
										<!-- Budget in Euro -->
										<tr>
											<td class="overview-description">Budget</td>
											<td class="overview-data">
												<input type="number" string-to-number step="0.01" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" class="form-design-table" placeholder="10000,00" name="newWaterplantBudget" maxlength="20" ng-model="newWaterplant.budget" ng-required="true">
											</td>
											<td class="overview-unit">Euro</td>
											<td class="overview-space"></td>
										</tr>
										<!-- Zielfüllgrad in Prozent -->
										<tr>
											<td class="overview-description">Zielf&uuml;llgrad</td>
											<td class="overview-data">
												<input type="number" string-to-number step="1" min="0" max="100" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" class="form-design-table" placeholder="20,00" name="newWaterplantWarehousePercentage" maxlength="5" ng-model="newWaterplant.warehousePercentage" ng-required="true" style="width: 100%">
											</td>
											<td class="overview-unit">%</td>
											<td class="overview-space"></td>
										</tr>
										<!--  Gewinnaufschlag in Prozent -->
										<tr>
											<td class="overview-description">Gewinnaufschlag</td>
											<td class="overview-data">
												<input type="number" string-to-number step="1" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" class="form-design-table" placeholder="20,00" name="newWaterplantProfitMargin" maxlength="5" ng-model="newWaterplant.profitMargin" ng-required="true">	
											</td>
											<td class="overview-unit">%</td>
											<td class="overview-space"></td>
										</tr>
									</tbody>	
								</table>

								<!-- Neues Unternehmen speichern oder Neuanlage abbrechen -->
								<div class="button-clearDouble-tables">
									<!-- Abbrechen -->
									<button class="w3-button w3-round-large w3-red buttonRound" type="button" style="width: 125px;" ng-click="closeWaterplantForm()">Abbrechen</button>
									<div class="tooltip">
										<!-- Speichern -->
										<button ng-disabled="createWaterplantForm.$invalid" class="w3-button w3-round-large w3-dark-grey buttonRound" type="button" style="width: 125px;" ng-click="closeWaterplantForm(); postNewWaterplant()">Speichern</button>
										<span ng-if="createWaterplantForm.$invalid" class="tooltiptext">Bitte f&uuml;llen Sie alle Felder aus</span>
									</div>
								</div> 

							</form>
						</div>
						
						<!-- Übersicht der Unternehmen -->
						<!-- Repeat für ein Wasserwerk-->
						<form class="form-center form-reg w3-round-large card-background" name="waterplantForm" ng-init="initWaterplants(waterplant);" ng-repeat="waterplant in waterplants.companies | filter : search | orderBy: '-companyIdNumeric'">

							<div class="company-header w3-blue">
								<h2>
									<span>Wasserwerk {{ waterplant.companyIdNumeric }}</span>
									<span>

										<button class="collapsibleButton" ng-class="waterplant.activeButton" ng-click="showWaterplantDetails(waterplant)" id="waterplantButtonCollapsible{{ waterplant.companyIdNumeric }}">

										</button>

									</span>
									<span class="tooltip" style="padding-right: 16px; float: right">
										<!-- Schließung des Unternehmens -> Unternehmen wird aus der Simulation entfernt -->
										<!-- Nicht sichtbar nach Neuanlage -->
										<button class="w3-button w3-round-large w3-red company-close" style="padding: 0px" name="closeWaterplant" type="button" type="Submit" style="height: 22" ng-if="waterplant.companyIdNumeric!='neu'" ng-disabled="simStatus!=false" ng-click="deleteWaterplant(waterplant)" id="waterplantButtonDelete{{ waterplant.companyIdNumeric }}">Schlie&szlig;en</button>
										<!-- Tooltip Button disabled - Unternehmen können nur gelöscht werden, wenn die Simulation pausiert -->
										<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>
										<span ng-if="simStatus==false" class="tooltiptext" style="width: 200px">Beim Klick wird das Unternehmen gel&ouml;scht</span>
									</span>	
								</h2>
							</div>
							
							<!-- Bereich nur beim Zuklappen einblenden - Kurzansicht -->
							<div ng-hide="waterplant.showWaterplantDataDetails!=false" id="waterplantShortDataview{{ waterplant.companyIdNumeric }}">
							<table class="w3-table-all" style="margin-top: 8px" id="companyShortWaterplantTable">
								<tbody>
									<tr>
										<!-- Qualität -->
										<td style="width: 10%">Qualit&auml;t</td>
										<td style="width: 20%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px" ng-show="{{ waterplant.qualityType.toLowerCase() == 'low' }}">Niedrig</td>
										<td style="width: 20%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px" ng-show="{{ waterplant.qualityType.toLowerCase() == 'medium' }}">Mittel</td>
										<td style="width: 20%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px" ng-show="{{ waterplant.qualityType.toLowerCase() == 'high' }}">Hoch</td>
										<!-- Budget -->
										<td style="width: 10%">Budget</td>
										<td style="width: 25%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px">{{ waterplant.budget / 100 | number:2 }} Euro</td>
										<!-- Bilanz -->
										<td style="width: 10%">Bilanz</td>
										<td style="width: 25%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px" ng-class="{negativeBalance: waterplant.balance < 0}">{{ waterplant.balance / 100 | number:2 }} Euro</td>
									</tr>	
									<!-- ID - immer ausgeblendet -->
									<tr ng-hide="true">
										<td class="overview-description">ID</td>
										<td colspan="3" style="width: 60%">{{ waterplant.companyId }}</td>
									</tr>
								</tbody>	
							</table>	
							</div>
							
							<!-- Bereich nur beim Aufklappen einblenden - Detailansicht -->
							<div ng-hide="waterplant.showWaterplantDataDetails==false" class="w3-animate-opacity" id="waterplantDataview{{ waterplant.companyIdNumeric }}">
							<table class="w3-table-all" style="margin-top: 8px" id="companyWaterplantTable">
								<tbody>
									<!-- Unternehmensgröße -->
									<tr>
										<td class="overview-description">Unternehmensgr&ouml;&szlig;e</td>
										<!-- Anzeigevarianten: small = Klein, medium = Mittel, big = Groß -->
										<td class="overview-data" ng-show="{{ waterplant.companySize.toLowerCase() == 'small' }}">Klein</td>
										<td class="overview-data" ng-show="{{ waterplant.companySize.toLowerCase() == 'medium' }}">Mittel</td>
										<td class="overview-data" ng-show="{{ waterplant.companySize.toLowerCase() == 'big' }}">Gro&szlig;</td>
										<td class="overview-unit"></td>
										<td class="overview-space"></td>
									</tr>
									<!-- Qualität -->
									<tr>
										<td class="overview-description">Qualit&auml;t</td>
										<!-- Anzeigevarianten: low = Niedrig, medium = Mittel, high = Hoch-->
										<td class="overview-data" ng-show="{{ waterplant.qualityType.toLowerCase() == 'low' }}">Niedrig</td>
										<td class="overview-data" ng-show="{{ waterplant.qualityType.toLowerCase() == 'medium' }}">Mittel</td>
										<td class="overview-data" ng-show="{{ waterplant.qualityType.toLowerCase() == 'high' }}">Hoch</td>
										<td class="overview-unit"></td>
										<td class="overview-space"></td>
									</tr>
									<!-- Budget in Euro -->
									<tr>
										<td class="overview-description">Budget</td>
										<td class="overview-data">{{ waterplant.budget / 100 | number:2 }}</td>
										<td class="overview-unit">Euro</td>
										<td class="overview-space"></td>
									</tr>
									<!-- Bilanz in Euro -->
									<tr>
										<td class="overview-description" ng-class="{negativeBalance: waterplant.balance < 0}">Bilanz</td>
										<td class="overview-data">{{ waterplant.balance / 100 | number:2 }}</td>
										<td class="overview-unit">Euro</td>
										<td class="overview-space"></td>
									</tr>
									<!-- Aktuelle Lagermenge in Liter -->
									<tr>
										<td class="overview-description">Aktuelle Lagermenge</td>
										<td class="overview-data">{{ waterplant.currentStock | number:2 }}</td>
										<td class="overview-unit">Liter</td>
										<td class="overview-space"></td>
									</tr>
									<!-- Zielfüllgrad Lager in Prozent -->
									<tr>
										<td class="overview-description">Zielf&uuml;llgrad</td>
										<!-- Anzeige Zielfüllgrad -->
										<td class="overview-data" ng-hide="waterplant.waterplantEditStatus!=false">{{ waterplant.warehousePercentage | number:2 }}</td>
										<!-- Eingabe Zielfüllgrad -->
										<td class="overview-data" ng-hide="waterplant.waterplantEditStatus==false">
											<input type="number" string-to-number step="1" min="0" max="100" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" class="form-design-table" placeholder="20,00" name="waterplantWarehousePercentageEditField" maxlength="5" ng-model="waterplant.warehousePercentage" ng-required="true" ng-disabled="waterplant.companyWaterplantEdit" id="waterplantWarehousePercentageInput{{ waterplant.companyIdNumeric }}" style="width: 100%">
										</td>
										<td class="overview-unit">%</td>
										<td class="overview-space"></td>
									</tr>
									<!--  Gewinnaufschlag in Prozent -->
									<tr>
										<td class="overview-description">Gewinnaufschlag</td>
										<!-- Anzeige Gewinnaufschlag -->
										<td class="overview-data" ng-hide="waterplant.waterplantEditStatus!=false">{{ waterplant.profitMargin | number:2 }}</td>
										<!-- Eingabe Gewinnaufschlag -->
										<td class="overview-data" ng-hide="waterplant.waterplantEditStatus==false">
											<input type="number" string-to-number step="1" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" class="form-design-table" placeholder="20,00" name="waterplantProfitMarginEditField" maxlength="5" ng-model="waterplant.profitMargin" ng-required="true" ng-disabled="waterplant.companyWaterplantEdit" id="waterplantProfitMarginInput{{ waterplant.companyIdNumeric }}">
										</td>																
										<td class="overview-unit">%</td>
										<td class="overview-space"></td>
									</tr>
									<!-- ID - immer ausgeblendet -->
									<tr ng-hide="true">
										<td class="overview-description">ID</td>
										<td colspan="3" style="width: 60%">{{ waterplant.companyId }}</td>
									</tr>
								</tbody>	
							</table>	

							<!-- Zielgrad + Gewinnaufschlag bearbeiten und speichern -->
							<!-- Nicht sichtbar nach Neuanlage -->
							<div ng-if="waterplant.companyIdNumeric!='neu'" class="button-clearOne-tables tooltip">
								<!-- Bearbeiten -->
								<button ng-if="waterplant.waterplantEditStatus==false" ng-click="changeWaterplantStatus(waterplant); enableCompanyWaterplantEdit(waterplant)" ng-disabled="simStatus!=false" class="w3-button w3-round-large w3-dark-grey buttonRound" type="button" style="width: 125px;" id="waterplantButtonEdit{{ waterplant.companyIdNumeric }}">Bearbeiten</button>
								<!-- Tooltip Button disabled - Werte können nur bearbeitet werden, wenn die Simulation pausiert -->
								<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>
								<!-- Speichern -->
								<button ng-if="waterplant.waterplantEditStatus!=false" ng-click="changeWaterplantStatus(waterplant); disableCompanyWaterplantEdit(waterplant); updateWaterplant(waterplant)" ng-disabled="waterplantForm.$invalid" class="w3-button w3-round-large w3-dark-grey buttonRound" type="button" style="width: 125px;" id="waterplantButtonSave{{ waterplant.companyIdNumeric }}">Speichern</button>
								<!-- Tooltip Button disabled - Alle Felder mit gültigen Werten ausfüllen -->
								<span ng-if="waterplantForm.$invalid" class="tooltiptext">Bitte f&uuml;llen Sie alle Felder aus</span>
							</div> 
							</div>	

						</form> 

					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div> 