<!-- Brauereien -->
<div class="form-center-view form-view w3-round-large card-background">
	<!-- Brauereien Controller -->
	<div ng-controller="breweryController"> 
		<h2 class="w3-center w3-blue">Brauereien</h2>

		<!-- Filter Unternehmensgröße / Qualitätsstufe -->
		<table class="w3-table" style="vertical-align: top">
			<tbody>
				<tr id="filterBreweryTableRow" class="filterTable">
					<td style="width: 40%; padding-left: 28px">Filter nach Unternehmensgr&ouml;&szlig;e</td>
					<td style="width: 12%">
						<!-- Unternehmensgröße -->
						<select name="filterBrewerySize" ng-model="search.companySize" style="width: 100%; text-align-last: right">
							<option value="" style="direction: rtl">Alle</option>
							<option value="small" style="direction: rtl">Klein</option>
							<option value="medium" style="direction: rtl">Mittel</option>
							<option value="big" style="direction: rtl">Gro&szlig;</option>
						</select>
					</td>					
					<td style="width: 26%">Filter nach Qualit&auml;t</td>
					<td style="width: 12%">
						<!-- Qualitätsstufe -->	
						<select name="filterBreweryQuality" ng-model="search.qualityType" style="width: 100%; text-align-last: right">
							<option value="" style="direction: rtl">Alle</option>
							<option value="low" style="direction: rtl">Niedrig</option>
							<option value="medium" style="direction: rtl">Mittel</option>
							<option value="high" style="direction: rtl">Hoch</option>
						</select>	
					</td>
					<!-- Seite aktualisieren -->
					<td style="width: 10%; text-align: right; padding-right: 36px">
						<button class="w3-button w3-round-large w3-blue filterTable" ng-click="getBrewerys()">Aktualisieren</button>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- Filter Ende -->

		<table class="w3-table-all" id="companyOverviewBreweryTable" ng-init="initBrewerys();">
			<tbody>
				<tr>
					<td>
						<div style="padding-bottom: 8px">
							<!-- Button für neuen Datensatz anlegen - Es öffnet sich ein Eingabeformular -->
							<div ng-if="showAddBreweryButton!=false" class="w3-center button-clear tooltip">
								<button ng-disabled="simStatus!=false" ng-click="openBreweryForm()" class="w3-button w3-circle w3-blue tooltip" type="button">+</button>
								<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>				
							</div>					

							<!-- Eingabeformular für die Anlage von neuen Unternehmen -->
							<form ng-if="createBreweryForm!=false" class="form-center form-reg w3-round-large card-background" ng-submit="createBreweryForm()" name="createBreweryForm">
								<div class="w3-center w3-blue">
									<h2>Neue Brauerei anlegen</h2>	
								</div>	
								<table class="w3-table-all" style="margin-top: 8px" id="createBreweryTable">
									<tbody>
										<!-- Unternehmensgröße -->
										<tr>
											<td class="overview-description">Unternehmensgr&ouml;&szlig;e</td>
											<td class="overview-data">
												<select name="newBreweryCompanySize" ng-model="newBrewery.companySize" class="form-design-table" style="width: 100%; text-align-last: right">
													<option value="small" style="direction: rtl">Klein</option>
													<option value="medium" style="direction: rtl">Mittel</option>
													<option value="big" style="direction: rtl">Gro&szlig;</option>
												</select>					
											</td>
											<td class="overview-unit"></td>
											<td class="overview-space"></td>
										</tr>
										<!-- Qualität -->
										<tr>
											<td class="overview-description">Qualit&auml;t</td>
											<td class="overview-data">		
												<select name="newBreweryQualityType" ng-model="newBrewery.qualityType" class="form-design-table" style="width: 100%; text-align-last: right">
													<option value="low" style="direction: rtl">Niedrig</option>
													<option value="medium" style="direction: rtl">Mittel</option>
													<option value="high" style="direction: rtl">Hoch</option>
												</select>						
											</td>
											<td class="overview-unit"></td>
											<td class="overview-space"></td>
										</tr>
										<!-- Budget in Euro -->
										<tr>
											<td class="overview-description">Budget</td>
											<td class="overview-data">
												<input type="number" string-to-number step="0.01" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(2);})(this)" class="form-design-table" placeholder="10000,00" name="newBreweryBudget" maxlength="20" ng-model="newBrewery.budget" ng-required="true">
											</td>
											<td class="overview-unit">Euro</td>
											<td class="overview-space"></td>
										</tr>
										<!-- Kontinuierlicher Beschaffungsgrad in Prozent -->
										<tr>
											<td class="overview-description">Kontinuierlicher Beschaffungsgrad</td>
											<td class="overview-data">
												<input type="number" string-to-number step="1" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" class="form-design-table" placeholder="20,00" name="newBreweryWarehousePercentage" maxlength="5" ng-model="newBrewery.warehousePercentage" ng-required="true">
											</td>
											<td class="overview-unit">%</td>
											<td class="overview-space"></td>
										</tr>
										<!--  Gewinnaufschlag in Prozent -->
										<tr>
											<td class="overview-description">Gewinnaufschlag</td>
											<td class="overview-data">
												<input type="number" string-to-number step="1" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" class="form-design-table" placeholder="20,00" name="newBreweryProfitMargin" maxlength="5" ng-model="newBrewery.profitMargin" ng-required="true">	
											</td>
											<td class="overview-unit">%</td>
											<td class="overview-space"></td>
										</tr>
									</tbody>	
								</table>

								<!-- Neues Unternehmen speichern oder Anlage abbrechen -->
								<div class="button-clear-tables">
									<!-- Abbrechen -->
									<button class="w3-button w3-red" type="button" style="width: 125px;" ng-click="closeBreweryForm()">Abbrechen</button>
									<div class="tooltip">
										<!-- Speichern -->
										<button ng-disabled="createBreweryForm.$invalid" class="w3-button w3-black" type="button" style="width: 125px;" ng-click="closeBreweryForm(); postNewBrewery()">Speichern</button>
										<span ng-if="createBreweryForm.$invalid" class="tooltiptext">Bitte f&uuml;llen Sie alle Felder aus</span>
									</div>
								</div> 

							</form>
						</div>

						<!-- Repeat für eine Brauerei-->
						<form class="form-center form-reg w3-round-large card-background" ng-submit="breweryForm()" name="breweryForm" ng-repeat="brewery in brewerys.companies | filter : search">

							<div class="company-header w3-blue">
								<h2>
								<span>Brauerei {{ brewery.companyCounter }}</span>
								<span>

									<button class="collapsibleButton" ng-class="activeButton" ng-click="showBreweryDetails()">

									</button>

								</span>
								<span class="tooltip" style="padding-right: 16px; float: right">
									<!-- Schließung des Unternehmens -> Unternehmen wird aus der Simulation entfernt -->
									<!-- Nicht sichtbar bei Neuanlage -->
									<button class="w3-button w3-round-large w3-red company-close" style="padding: 0px" name="closeBrewery" type="button" type="Submit" style="height: 22" ng-if="brewery.companyCounter!='neu'" ng-disabled="simStatus!=false" ng-click="deleteBrewery(brewery)">Schlie&szlig;en</button>
									<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>
									<span ng-if="simStatus==false" class="tooltiptext" style="width: 200px">Beim Klick wird das Unternehmen gel&ouml;scht</span>
								</span>	
								</h2>
							</div>
							
							<!-- Bereich nur beim Zuklappen einblenden -->
							<div ng-hide="showBreweryDataDetails!=false" id="breweryShortDataview{{ brewery.companyCounter }}">
							<table class="w3-table-all" style="margin-top: 8px" id="companyShortBreweryTable">
								<tbody>
									<tr>
										<!-- Qualität -->
										<td style="width: 10%">Qualit&auml;t</td>
										<td style="width: 20%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px" ng-show="{{ brewery.qualityType == 'low' }}">Niedrig</td>
										<td style="width: 20%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px" ng-show="{{ brewery.qualityType == 'medium' }}">Mittel</td>
										<td style="width: 20%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px" ng-show="{{ brewery.qualityType == 'high' }}">Hoch</td>
										<!-- Budget -->
										<td style="width: 10%">Budget</td>
										<td style="width: 25%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px">{{ brewery.budget | number:2 }} Euro</td>
										<!-- Bilanz -->
										<td style="width: 10%">Bilanz</td>
										<td style="width: 25%; border-right: 1px solid #ddd; text-align: right; padding-right: 26px">{{ brewery.balance | number:2 }} Euro</td>
									</tr>	
									<!-- ID - immer ausgeblendet -->
									<tr ng-hide="true">
										<td class="overview-description">ID</td>
										<td colspan="3" style="width: 60%">{{ brewery.companyId }}</td>
									</tr>
								</tbody>	
							</table>	
							</div>
							
							<!-- Bereich nur beim Aufklappen einblenden -->
							<div ng-hide="showBreweryDataDetails==false" class="w3-animate-opacity" id="breweryDataview{{ brewery.companyCounter }}">
							<table class="w3-table-all" style="margin-top: 8px" id="companyBreweryTable">
								<tbody>
									<!-- Unternehmensgröße -->
									<tr>
										<td class="overview-description">Unternehmensgr&ouml;&szlig;e</td>
										<!-- Anzeigevarianten: small = Klein, medium = Mittel, big = Groß -->
										<td class="overview-data" ng-show="{{ brewery.companySize == 'small' }}">Klein</td>
										<td class="overview-data" ng-show="{{ brewery.companySize == 'medium' }}">Mittel</td>
										<td class="overview-data" ng-show="{{ brewery.companySize == 'big' }}">Gro&szlig;</td>
										<td class="overview-unit"></td>
										<td class="overview-space"></td>
									</tr>
									<!-- Qualität -->
									<tr>
										<td class="overview-description">Qualit&auml;t</td>
										<!-- Anzeigevarianten: low = Niedrig, medium = Mittel, high = Hoch-->
										<td class="overview-data" ng-show="{{ brewery.qualityType == 'low' }}">Niedrig</td>
										<td class="overview-data" ng-show="{{ brewery.qualityType == 'medium' }}">Mittel</td>
										<td class="overview-data" ng-show="{{ brewery.qualityType == 'high' }}">Hoch</td>
										<td class="overview-unit"></td>
										<td class="overview-space"></td>
									</tr>
									<!-- Budget in Euro -->
									<tr>
										<td class="overview-description">Budget</td>
										<td class="overview-data">{{ brewery.budget | number:2 }}</td>
										<td class="overview-unit">Euro</td>
										<td class="overview-space"></td>
									</tr>
									<!-- Bilanz in Euro -->
									<tr>
										<td class="overview-description">Bilanz</td>
										<td class="overview-data">{{ brewery.balance | number:2 }}</td>
										<td class="overview-unit">Euro</td>
										<td class="overview-space"></td>
									</tr>
									<!-- Aktuelle Lagermenge in Liter -->
									<tr>
										<td class="overview-description">Aktuelle Lagermenge</td>
										<td class="overview-data">{{ brewery.currentStock | number:2 }}</td>
										<td class="overview-unit">Liter</td>
										<td class="overview-space"></td>
									</tr>
									<!-- Kontinuierlicher Beschaffungsgrad in Prozent -->
									<tr>
										<td class="overview-description">Kontinuierlicher Beschaffungsgrad</td>
										<!-- Anzeige Kontinuierlicher Beschaffungsgrad -->
										<td class="overview-data" ng-hide="breweryEditStatus!=false">{{ brewery.warehousePercentage | number:2 }}</td>
										<!-- Eingabe Kontinuierlicher Beschaffungsgrad -->
										<td class="overview-data" ng-hide="breweryEditStatus==false">
											<input type="number" string-to-number step="1" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" class="form-design-table" placeholder="20,00" name="breweryWarehousePercentageEditField" maxlength="5" ng-model="brewery.warehousePercentage" ng-required="true" ng-disabled="companyBreweryEdit" id="breweryWarehousePercentageInput{{ brewery.companyCounter }}">
										</td>
										<td class="overview-unit">%</td>
										<td class="overview-space"></td>
									</tr>
									<!--  Gewinnaufschlag in Prozent -->
									<tr>
										<td class="overview-description">Gewinnaufschlag</td>
										<!-- Anzeige Gewinnaufschlag -->
										<td class="overview-data" ng-hide="breweryEditStatus!=false">{{ brewery.profitMargin | number:2 }}</td>
										<!-- Eingabe Gewinnaufschlag -->
										<td class="overview-data" ng-hide="breweryEditStatus==false">
											<input type="number" string-to-number step="1" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" class="form-design-table" placeholder="20,00" name="breweryProfitMarginEditField" maxlength="5" ng-model="brewery.profitMargin" ng-required="true" ng-disabled="companyBreweryEdit" id="breweryProfitMarginInput{{ brewery.companyCounter }}">
										</td>																
										<td class="overview-unit">%</td>
										<td class="overview-space"></td>
									</tr>
									<!-- ID - immer ausgeblendet -->
									<tr ng-hide="true">
										<td class="overview-description">ID</td>
										<td colspan="3" style="width: 60%">{{ brewery.companyId }}</td>
									</tr>
								</tbody>	
							</table>	

							<!-- Kontinuerlicher Beschaffungsgrad + Gewinnaufschlag bearbeiten und speichern -->
							<!-- Nicht sichtbar bei Neuanlage -->
							<div ng-if="brewery.companyCounter!='neu'" class="button-clear-tables tooltip">
								<!-- Bearbeiten -->
								<button ng-if="breweryEditStatus==false" ng-click="changeBreweryStatus(brewery); enableCompanyBreweryEdit(brewery)" ng-disabled="simStatus!=false" class="w3-button w3-black" type="button" style="width: 125px;" id="breweryButtonEdit{{ brewery.companyCounter }}">Bearbeiten</button>
								<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>
								<!-- Speichern -->
								<button ng-if="breweryEditStatus!=false" ng-click="changeBreweryStatus(brewery); disableCompanyBreweryEdit(brewery); updateBrewery(brewery)" ng-disabled="breweryForm.$invalid" class="w3-button w3-black" type="button" style="width: 125px;" id="breweryButtonSave{{ brewery.companyCounter }}">Speichern</button>
								<span ng-if="breweryForm.$invalid" class="tooltiptext">Bitte f&uuml;llen Sie alle Felder aus</span>
							</div> 
							</div>	

						</form> 

					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div> 