<!-- Endkunden --> 
<div class="form-center-view form-view w3-round-large card-background">

	<!-- Endkunden Controller -->
	<div ng-controller="consumerController"> 
	<h2 class="w3-center w3-blue">Nachfrage der Endkunden</h2>

		<form ng-submit="postConsumerDemandForm()" name="consumerDemandForm">
			<table class="w3-table-all" style="margin-top: 8px" id="consumerTable" ng-init="initDemand(); consumerDemandEdit=true">    
				<tbody>
					<tr>
						<th style="width: 40%">Qualit&auml;t</th>
						<th style="width: 30%; text-align: right">Aktuelle Nachfrage pro Tag</th>
						<th colspan="2" style="width: 30%"></th>
					</tr>
					<tr>				
						<!-- Nachfragemenge Qualitätsstufe Niedrig (1) -->
						<td style="width: 40%">Niedrig</td>
						<!-- Anzeige Nachfragemenge -->
						<td ng-hide="demandEditStatus!=false" style="width: 30%; text-align: right" id="lowDemandShow">
							{{ demandQ1 | number:2 }}
						</td>
						<!-- Eingabe Nachfragemenge -->   
						<td ng-hide="demandEditStatus==false" style="width: 30%; text-align: right" id="lowDemand">
							<input type="number" step="1000" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" id="demandQ1EditField" class="form-design-table" placeholder="1000,00" name="demandQ1EditField" maxlength="20" ng-model="demandQ1" ng-required="true" ng-disabled="consumerDemandEdit">
						</td>
						<td style="width: 5%">Liter</td>
						<td style="width: 25%"></td>
					</tr>
					<tr>
						<!-- Nachfragemenge Qualitätsstufe Mittel (2) -->
						<td style="width: 40%">Mittel</td>
						<!-- Anzeige Nachfragemenge -->
						<td ng-hide="demandEditStatus!=false" style="width: 30%; text-align: right" id="mediumDemandShow">
							{{ demandQ2 | number:2 }}
						</td>
						<!-- Eingabe Nachfragemenge -->   
						<td ng-hide="demandEditStatus==false" style="width: 30%; text-align: right" id="mediumDemand">
							<input type="number" step="1000" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" id="demandQ2EditField" class="form-design-table" placeholder="1000,00" name="demandQ2EditField" maxlength="20" ng-model="demandQ2" ng-required="true" ng-disabled="consumerDemandEdit">
						</td>
						<td style="width: 5%">Liter</td>
						<td style="width: 25%"></td>
					</tr>
					<tr>
						<!-- Nachfragemenge Qualitätsstufe Hoch (3) -->
						<td style="width: 40%">Hoch</td>
						<!-- Anzeige Nachfragemenge -->
						<td ng-hide="demandEditStatus!=false" style="width: 30%; text-align: right" id="highDemandShow">
							{{ demandQ3 | number:2 }}
						</td>
						<!-- Eingabe Nachfragemenge -->   
						<td ng-hide="demandEditStatus==false" style="width: 30%; text-align: right" id="highDemand">
							<input type="number" step="1000" min="0" onchange="(function(el){el.value=parseFloat(el.value).toFixed(0);})(this)" id="demandQ3EditField" class="form-design-table" placeholder="1000,00" name="demandQ3EditField" maxlength="20" ng-model="demandQ3" ng-required="true" ng-disabled="consumerDemandEdit">
						</td>
						<td style="width: 5%">Liter</td>
						<td style="width: 25%"></td>
					</tr>  
					<tr>
						<th style="width: 40%">Gesamtwirtschaftliche Nachfrage pro Tag</th>
						<th style="width: 30%; text-align: right" id="highDemand">
							{{ demandQ1 + demandQ2 + demandQ3 | number:2 }}
						</th> 
						<th style="width: 5%">Liter</th>
						<td style="width: 25%"></td>
					</tr>                                                        
				</tbody> 
			</table>

			<!-- Nachfragemenge bearbeiten und speichern -->
			<div class="button-clear-tables tooltip">
				<button ng-if="demandEditStatus==false" ng-click="changeDemandConsumer(); enableConsumerDemandEdit()" ng-disabled="simStatus!=false" class="w3-button w3-black" id="demandEdit" type="button" style="width: 125px;">Bearbeiten</button>
				<span ng-if="simStatus!=false" class="tooltiptext">Bitte pausieren Sie die Simulation</span>
				<button ng-if="demandEditStatus!=false" ng-click="changeDemandConsumer(); disableConsumerDemandEdit(); postConsumerDemand()" ng-disabled="consumerDemandForm.$invalid" class="w3-button w3-black" id="demandSubmit" type="button" style="width: 125px;">Speichern</button>
				<span ng-if="consumerDemandForm.$invalid" class="tooltiptext">Bitte f&uuml;llen Sie alle Felder aus</span>
			</div> 
		</form>

			<br>

			<!-- Nachfrageverteilung und gesamte Nachfragemenge-->
			<h2 class="w3-center w3-blue">Nachfrageverteilung</h2>
			<table class="w3-table-all" style="margin-top: 8px" id="consumerTable" >    
				<tbody> 
					<tr>
						<td style="width: 10%; text-align: right">
							<p>{{ demandQ1 / (demandQ1 + demandQ2 + demandQ3) * 100 | number:2 }} %</p>
							<p>{{ demandQ2 / (demandQ1 + demandQ2 + demandQ3) * 100 | number:2 }} %</p>
							<p>{{ demandQ3 / (demandQ1 + demandQ2 + demandQ3) * 100 | number:2 }} %</p>
						</td>
						<td style="width: 30%">
							<p>Niedrige Qualit&auml;t</p>
							<p>Mittlere Qualit&auml;t</p>
							<p>Hohe Qualit&auml;t</p>
						</td>
						<td style="width: 60%">
							<!-- Nachfrageverteilung nicht anzeigen, wenn Nachfrage "Qualitätsstufe 1" < 1 -->
							<div ng-if="demandQ1===0" id="progressQ1" class="w3-container" style="height:34px; width:{{ demandQ1 / (demandQ1 + demandQ2 + demandQ3) * 100 }}%">
							</div>	
							<!-- Nachfrageverteilung anzeigen, wenn Nachfrage "Qualitätsstufe 1" >= 1 -->
							<div ng-if="demandQ1!==0" id="progressQ1" class="w3-container beer-red" style="height:34px; width:{{ demandQ1 / (demandQ1 + demandQ2 + demandQ3) * 100 }}%">
							</div>
							<!-- Nachfrageverteilung nicht anzeigen, wenn Nachfrage "Qualitätsstufe 2" < 1 -->
							<div ng-if="demandQ2===0" id="progressQ2" class="w3-container" style="height:34px; width:{{ demandQ2 / (demandQ1 + demandQ2 + demandQ3) * 100 }}%">
							</div>
							<!-- Nachfrageverteilung anzeigen, wenn Nachfrage "Qualitätsstufe 2" >= 1 -->
							<div ng-if="demandQ2!==0" id="progressQ2" class="w3-container beer-yellow" style="height:34px; width:{{ demandQ2 / (demandQ1 + demandQ2 + demandQ3) * 100 }}%">
							</div>
							<!-- Nachfrageverteilung nicht anzeigen, wenn Nachfrage "Qualitätsstufe 3" < 1 -->
							<div ng-if="demandQ3===0" id="progressQ3" class="w3-container" style="height:34px; width:{{ demandQ3 / (demandQ1 + demandQ2 + demandQ3) * 100 }}%">
							</div>	
							<!-- Nachfrageverteilung anzeigen, wenn Nachfrage "Qualitätsstufe 3" >= 1 -->
							<div ng-if="demandQ3!==0" id="progressQ3" class="w3-container beer-green" style="height:34px; width:{{ demandQ3 / (demandQ1 + demandQ2 + demandQ3) * 100 }}%">	
							</div>
						</td>	
					</tr>           
				</tbody>
			</table> 

	</div>
</div> 