<!-- Übersicht -->
<div ng-controller="overviewController"> 

	<table class="w3-table" id="overviewTable">
		<tbody>
			<tr>
			
				<!-- Übersicht alle Hopfenanbau kummuliert -->
				<td style="width: 50%">
					<div class="form-center form-reg w3-round-large card-background">
						<h2 class="w3-blue">Hopfenanbau</h2>
						<table class="w3-table-all" style="margin-top: 8px" id="overviewHopfarmerTable">
							<tbody>
								<tr>
									<th style="width: 15%">Qualit&auml;t</th>
									<th style="width: 15%; text-align: right">Anzahl</th>
									<th style="width: 25%; text-align: right">Bilanz</th>
									<th class="overview-unit"></th>
									<th style="width: 25%; text-align: right">Lager</th>
									<th class="overview-unit"></th>
								</tr>
								<tr>
									<td>Niedrig</td>
									<td class="overview-td-right">{{ overview.hopFarmers.qualityLow.count }}</td>
									<td class="overview-td-right">{{ overview.hopFarmers.qualityLow.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.hopFarmers.qualityLow.amount /1000 | number:2 }}</td>
									<td class="overview-unit">Tonnen</td>
								</tr>
								<tr>
									<td>Mittel</td>
									<td class="overview-td-right">{{ overview.hopFarmers.qualityMedium.count }}</td>
									<td class="overview-td-right">{{ overview.hopFarmers.qualityMedium.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.hopFarmers.qualityMedium.amount /1000 | number:2 }}</td>
									<td class="overview-unit">Tonnen</td>
								</tr>
								<tr>
									<td>Hoch</td>
									<td class="overview-td-right">{{ overview.hopFarmers.qualityHigh.count }}</td>
									<td class="overview-td-right">{{ overview.hopFarmers.qualityHigh.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.hopFarmers.qualityHigh.amount /1000 | number:2 }}</td>
									<td class="overview-unit">Tonnen</td>
								</tr>
							</tbody>	
						</table>
					</div>   
				</td>
				
				<!-- Übersicht alle Gerstenanbau kummuliert -->
				<td style="width: 50%">
					<div class="form-center form-reg w3-round-large card-background">
						<h2 class="w3-blue">Gerstenanbau</h2>
						<table class="w3-table-all" style="margin-top: 8px" id="overviewCerealfarmerTable">
							<tbody>
								<tr>
									<th style="width: 15%">Qualit&auml;t</th>
									<th style="width: 15%; text-align: right">Anzahl</th>
									<th style="width: 25%; text-align: right">Bilanz</th>
									<th class="overview-unit"></th>
									<th style="width: 25%; text-align: right">Lager</th>
									<th class="overview-unit"></th>
								</tr>
								<tr>
									<td>Niedrig</td>
									<td class="overview-td-right">{{ overview.cerealFarmers.qualityLow.count }}</td>
									<td class="overview-td-right">{{ overview.cerealFarmers.qualityLow.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.cerealFarmers.qualityLow.amount /1000 | number:2 }}</td>
									<td class="overview-unit">Tonnen</td>
								</tr>
								<tr>
									<td>Mittel</td>
									<td class="overview-td-right">{{ overview.cerealFarmers.qualityMedium.count }}</td>
									<td class="overview-td-right">{{ overview.cerealFarmers.qualityMedium.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.cerealFarmers.qualityMedium.amount /1000 | number:2 }}</td>
									<td class="overview-unit">Tonnen</td>
								</tr>
								<tr>
									<td>Hoch</td>
									<td class="overview-td-right">{{ overview.cerealFarmers.qualityHigh.count }}</td>
									<td class="overview-td-right">{{ overview.cerealFarmers.qualityHigh.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.cerealFarmers.qualityHigh.amount /1000 | number:2 }}</td>
									<td class="overview-unit">Tonnen</td>
								</tr>
							</tbody>	
						</table>
					</div>
				</td>
			</tr>
		</tbody>
	</table>    

	<table class="w3-table"  id="overview2Table">
		<tbody>
			<tr>
				<!-- Übersicht alle Wasserwerke kummuliert -->
				<td style="width: 50%">
					<div class="form-center form-reg w3-round-large card-background">
						<h2 class="w3-blue">Wasserwerke</h2>
						<table class="w3-table-all" style="margin-top: 8px" id="overviewWaterplantTable">
							<tbody>
								<tr>
									<th style="width: 15%">Qualit&auml;t</th>
									<th style="width: 15%; text-align: right">Anzahl</th>
									<th style="width: 25%; text-align: right">Bilanz</th>
									<th class="overview-unit"></th>
									<th style="width: 25%; text-align: right">Lager</th>
									<th class="overview-unit"></th>
								</tr>
								<tr>
									<td>Niedrig</td>
									<td class="overview-td-right">{{ overview.waterplants.qualityLow.count }}</td>
									<td class="overview-td-right">{{ overview.waterplants.qualityLow.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.waterplants.qualityLow.amount | number:2 }}</td>
									<td class="overview-unit">Liter</td>
								</tr>
								<tr>
									<td>Mittel</td>
									<td class="overview-td-right">{{ overview.waterplants.qualityMedium.count }}</td>
									<td class="overview-td-right">{{ overview.waterplants.qualityMedium.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.waterplants.qualityMedium.amount | number:2 }}</td>
									<td class="overview-unit">Liter</td>
								</tr>
								<tr>
									<td>Hoch</td>
									<td class="overview-td-right">{{ overview.waterplants.qualityHigh.count }}</td>
									<td class="overview-td-right">{{ overview.waterplants.qualityHigh.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.waterplants.qualityHigh.amount | number:2 }}</td>
									<td class="overview-unit">Liter</td>
								</tr>
							</tbody>	
						</table>
					</div>   
				</td>
			
				<!-- Übersicht alle Mälzereien kummuliert -->
				<td style="width: 50%">
					<div class="form-center form-reg w3-round-large card-background">
						<h2 class="w3-blue">M&auml;lzereien</h2>

						<table class="w3-table-all" style="margin-top: 8px" id="overviewMalterTable">
							<tbody>
								<tr>
									<th style="width: 15%">Qualit&auml;t</th>
									<th style="width: 15%; text-align: right">Anzahl</th>
									<th style="width: 25%; text-align: right">Bilanz</th>
									<th class="overview-unit"></th>
									<th style="width: 25%; text-align: right">Lager</th>
									<th class="overview-unit"></th>
								</tr>
								<tr>
									<td>Niedrig</td>
									<td class="overview-td-right">{{ overview.malters.qualityLow.count }}</td>
									<td class="overview-td-right">{{ overview.malters.qualityLow.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.malters.qualityLow.amount /1000 | number:2 }}</td>
									<td class="overview-unit">Tonnen</td>
								</tr>
								<tr>
									<td>Mittel</td>
									<td class="overview-td-right">{{ overview.malters.qualityMedium.count }}</td>
									<td class="overview-td-right">{{ overview.malters.qualityMedium.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.malters.qualityMedium.amount /1000 | number:2 }}</td>
									<td class="overview-unit">Tonnen</td>
								</tr>
								<tr>
									<td>Hoch</td>
									<td class="overview-td-right">{{ overview.malters.qualityHigh.count }}</td>
									<td class="overview-td-right">{{ overview.malters.qualityHigh.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.malters.qualityHigh.amount /1000 | number:2 }}</td>
									<td class="overview-unit">Tonnen</td>
								</tr>
							</tbody>	
						</table>

					</div>   
				</td>
			</tr>
		</tbody>
	</table> 		
				
	<table class="w3-table"  id="overview2Table">
		<tbody>
			<tr>	
				<!-- Übersicht alle Brauereien kummuliert -->
				<td style="width: 50%">
					<div class="form-center form-reg w3-round-large card-background">
						<h2 class="w3-blue">Brauereien</h2>
						<table class="w3-table-all" style="margin-top: 8px" id="overviewBreweryTable">
							<tbody>
								<tr>
									<th style="width: 15%">Qualit&auml;t</th>
									<th style="width: 15%; text-align: right">Anzahl</th>
									<th style="width: 25%; text-align: right">Bilanz</th>
									<th class="overview-unit"></th>
									<th style="width: 25%; text-align: right">Lager</th>
									<th class="overview-unit"></th>
								</tr>
								<tr>
									<td>Niedrig</td>
									<td class="overview-td-right">{{ overview.brewerys.qualityLow.count }}</td>
									<td class="overview-td-right">{{ overview.brewerys.qualityLow.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.brewerys.qualityLow.amount | number:2 }}</td>
									<td class="overview-unit">Liter</td>
								</tr>
								<tr>
									<td>Mittel</td>
									<td class="overview-td-right">{{ overview.brewerys.qualityMedium.count }}</td>
									<td class="overview-td-right">{{ overview.brewerys.qualityMedium.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.brewerys.qualityMedium.amount | number:2 }}</td>
									<td class="overview-unit">Liter</td>
								</tr>
								<tr>
									<td>Hoch</td>
									<td class="overview-td-right">{{ overview.brewerys.qualityHigh.count }}</td>
									<td class="overview-td-right">{{ overview.brewerys.qualityHigh.balance | number:2 }}</td>
									<td class="overview-unit">Euro</td>
									<td class="overview-td-right">{{ overview.brewerys.qualityHigh.amount | number:2 }}</td>
									<td class="overview-unit">Liter</td>
								</tr>
							</tbody>	
						</table>
					</div>   
				</td>
				
				<!-- Übersicht Nachfrage der Endkunden -->
				<td style="width: 50%">
					<div class="form-center form-reg w3-round-large card-background">
						<h2 class="w3-blue">Endkunden</h2>
						<table class="w3-table-all" style="margin-top: 8px" id="overviewConsumerTable">
							<tbody>
								<tr>
									<th style="width: 30%">Qualit&auml;t</th>
									<th style="width: 60%; text-align: right">Aktuelle Nachfrage pro Tag</th>
									<th class="overview-unit"></th>
								</tr>
								<tr>
									<td>Niedrig</td>
									<td class="overview-td-right">{{ overview.consumerDemand.qualityLow | number:2 }}</td>
									<td class="overview-unit">Liter</td>
								</tr>
								<tr>
									<td>Mittel</td>
									<td class="overview-td-right">{{ overview.consumerDemand.qualityMedium | number:2 }}</td>
									<td class="overview-unit">Liter</td>
								</tr>
								<tr>
									<td>Hoch</td>
									<td class="overview-td-right">{{ overview.consumerDemand.qualityHigh | number:2 }}</td>
									<td class="overview-unit">Liter</td>
								</tr>
							</tbody>	
						</table>
					</div>   
				</td>
			</tr>
		</tbody>
	</table>    

</div>