<!DOCTYPE html>
<html lang="de" ng-app="indexPage">

<head>
    <meta charset="utf-8" />
    <title>Bier-Supply-Chain-Simulation</title>
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/designs.css">
    <link rel="stylesheet" href="../css/fontawesome.css">
    <!-- Individuelle CSS für die Bier-Supply-Chain-Simulation -->
    <link rel="stylesheet" href="../css/custom.css">
    <!-- Libraries -->
    <script src="../libraries/angular.js"></script>
    <script src="../libraries/angular.min.js"></script>
    <script src="../libraries/angular-route.js"></script>
    <script src="../libraries/angular-locale_de-de.js"></script>
    <!-- Angular-nvD3 charting -->
    <script src="../node_modules/d3/d3.js"></script>
	<!-- <script src="../node_modules/d3/d3.min.js"></script> -->
    <script src="../node_modules/nvd3/build/nv.d3.js"></script>
	<!-- <script src="../node_modules/nvd3/build/nv.d3.min.js"></script> -->
    <script src="../node_modules/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="../node_modules/nvd3/build/nv.d3.css">
    <!-- <link rel="stylesheet" href="../node_modules/nvd3/build/nv.d3.min.css"> -->
    <!-- Favicon Error in Console verhindern -->
    <link rel="shortcut icon" href="#">
    <!-- AngularJS -->
    <script src="../angularjs/angular_app.js"></script>
</head>

<body class="body-background" ng-controller="mainController">

    <!-- Navigationsleiste oben -->
    <div class="w3-top">
        <div class="w3-bar w3-theme w3-top w3-left-align w3-large">

            <!-- Burger Menü bei Medium Size-->
            <a class="w3-right w3-hide-large w3-large" id="nav-bar" ng-click="changeMenuIconStatus()">
                <div>
                    <div class="bar-line"></div>
                    <div class="bar-line"></div>
                    <div class="bar-line"></div>
                </div>
            </a>

            <!-- Logo und Icons Navigationsleiste oben -->
            <a href="#/overview"><img src="../images/logo.png" id="logo-navbar"></a>

            <div id="navbar-right">
                <a href="#/overview" id="indexOverview" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">&Uuml;bersicht</a>
                <a href="#/rawMaterials" id="indexRawMaterials" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Grundstoffe</a>
                <a href="#/hopFarmer" id="indexHopFarmer" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Hopfenanbau</a>
                <a href="#/cerealFarmer" id="indexCerealFarmer" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Gerstenanbau</a>
                <a href="#/waterplant" id="indexWaterplant" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Wasserwerke</a>
                <a href="#/malter" id="indexMalter" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">M&auml;lzereien</a>
                <a href="#/brewery" id="indexBrewery" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Brauereien</a>
                <a href="#/consumer" id="indexConsumer" class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-hover-white">Endkunden</a>
            </div>
        </div>
    </div>

    <!-- Seitenleiste Navigation bei medium size device-width -->
    <div ng-if="showSidebarMenu==true">
        <nav class="w3-sidebar w3-bar-block w3-hide-large w3-large w3-theme-l5 w3-animate-left" id="burgerSidebar">

            <!-- Icons Navigationsleiste bei Medium Size -->
            <div>
                <a href="#/overview" id="indexOverviewSidebar" class="w3-button w3-hover-black w3-hide-large" ng-click="closeSidebarMenu()">&Uuml;bersicht</a>
            </div>
             <div>
                <a href="#/rawMaterials" id="indexRawMaterials" class="w3-button w3-hover-black w3-hide-large" ng-click="closeSidebarMenu()">Grundstoffe</a>
            </div>
            <div>
                <a href="#/hopFarmer" id="indexHopFarmerSidebar" class="w3-button w3-hover-black w3-hide-large" ng-click="closeSidebarMenu()">Hopfenanbau</a>
            </div>
            <div>
                <a href="#/cerealFarmer" id="indexCerealFarmerSidebar" class="w3-button w3-hover-black w3-hide-large" ng-click="closeSidebarMenu()">Gerstenanbau</a>
            </div>
            <div>
                <a href="#/waterplant" id="indexWaterplantSidebar" class="w3-button w3-hover-black w3-hide-large" ng-click="closeSidebarMenu()">Wasserwerke</a>
            </div>
            <div>
                <a href="#/malter" id="indexMalterSidebar" class="w3-button w3-hover-black w3-hide-large" ng-click="closeSidebarMenu()">M&auml;lzereien</a>
            </div>
            <div>
                <a href="#/brewery" id="indexBrewerySidebar" class="w3-button w3-hover-black w3-hide-large" ng-click="closeSidebarMenu()">Brauereien</a>
            </div>
            <div>
                <a href="#/consumer" id="indexConsumerSidebar" class="w3-button w3-hover-black w3-hide-large" ng-click="closeSidebarMenu()">Endkunden</a>
            </div>

        </nav>
    </div>

    <!-- Main content -->
    <div class="w3-main">
        <div class="w3-row w3-padding-48">
            <div class="w3-container">

                <table class="w3-table" style="vertical-align: top" id="indexStatusTable" ng-init="initSimInformations(); initSimProgress()">
                    <tbody>
                        <tr>
                            <!-- Simulations pausiert oder läuft -->
                            <td style="width: 33%">
                                <div class="form-center form-reg-index w3-round-large card-background">
                                    <div id="simulationSlider">
                                        <div ng-if="simStatus==false" style="float: left; font-size: 23px">Simulation pausiert</div>
                                        <div ng-if="simStatus!=false" style="float: left; font-size: 23px">Simulation l&auml;uft</div>
                                        <div>
                                            <label class="switch-slide tooltip" style="float: right;">
												<input type="checkbox" class="form-design" ng-model="indexSlider" ng-click="changeStatus()" ng-disabled="checkSliderDisabled()">
												<span class="switch-slider design-round"></span>
												<!-- Simulation muss zuert über Button "Start" gestartet werden -->
												<span ng-if="disableFunctions!=false" class="tooltiptext">Bitte starten Sie zuerst die Simulation</span>
												<!-- Preiseingabe der Grundstoffe muss zuerst über "Speichern" abgeschlosse werden -->
												<span ng-if="checkUnitPricesSubmit()" class="tooltiptext" style="width: 165px">Bitte tragen Sie zuerst die Grundstoffpreise ein</span>
											</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- Aktuelle Laufzeit der Simulation - Zeiteinheit in Tagen -->
                            <td style="width: 33%">
                                <div class="form-center form-reg-index w3-round-large card-background">
                                    <div id="progressBarDuration">
                                        <div class="w3-round-xlarge">
                                            <!-- Progress Bar nicht anzeigen, wenn simDuration = 0 -->
                                            <div ng-if="simDuration===0" id="progressBarHide" class="w3-container w3-round-xlarge" style="height:34px; width: {{ simDuration | limitTo: numberLimit }}%"></div>
                                            <!-- Progress Bar in blau anzeigen, wenn simDuration >= 1 -->
                                            <div ng-if="simDuration!==0" id="progressBarShow" class="w3-container w3-blue w3-round-xlarge" style="height:34px; width: {{ simDuration | limitTo: numberLimit }}%"></div>
                                            <p id="progressDuration"><b>Laufzeit {{ simDuration }} Tage</b></p>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- Buttons für Start und Beenden der Simulation -->
                            <td style="width: 33%">
                                <div class="form-center form-reg-index w3-round-large card-background">
                                    <div id="simulationButton">
                                        <div class="button-clear">   
											<a ng-href="{{checkPricesStart()}}">
                                           		<button ng-if="simButton!=false" ng-click="changeSimulation()" class="w3-button w3-round-large w3-green buttonRoundIndex" id="simStart" type="button" style="width: 125px;">Start</button>
                                            </a>
                                            <!-- index.html zeigen (Startseite) und alle Views schlißen -->
                                            <a href="#/overview">
                                                <button ng-if="simButton==false" ng-click="changeSimulation(); disableSlider(); postEndSimulation()" class="w3-button w3-round-large w3-red buttonRoundIndex" id="simEnd" type="button" style="width: 125px;">Beenden</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Dynamische Seitenaufrufe mit AngularJS - Routing -->
                <ng-view></ng-view>

            </div>
        </div>
    </div>
    <!-- End Main Content -->

</body>

</html>